* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #e6f0ff;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #003366;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

#product a{
    background-color: #010f45;
}
#product a:hover {
    background-color: #03478a;
}

#comp-name {
    font-size: 1,8rem;
    font-weight: bold;
    margin-right: 2rem;
}

#nav-items{
    display: flex;
    list-style: none;
    list-style: none;
}

.nav-item a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-item a:hover {
    background-color: #03478a;
}

#profile-item{
    margin-left: auto;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#profile-item:hover {
    background-color: #03478a;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid #333;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    width: 200px;
    transition: box-shadow 0.4s ease;  
}

.item:hover {    
    box-shadow: 1px 4px 5px rgb(8, 91, 179, 0.7);
}

.item p {
    margin: 0.5rem;
}

footer {
    background-color: #003366;
    color:white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    font-size: 0.9rem;
}