* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #e6f0ff;
    color:#333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #003366;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

#comp-name {
    font-size: 1,8rem;
    font-weight: bold;
    margin-right: 2rem;
}

#nav-items{
    display: flex;
    list-style: none;
}

.nav-item a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-item a:hover {
    background-color: #03478a;
}

#profile-item{
    margin-left: auto;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#profile-item:hover {
    background-color: #03478a;
}

#user-balance {
    color:white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: auto;
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

main h2{
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #003366;
    text-align: center;
}

#profile-details {
    margin-bottom: 2rem;
}

#profile-details p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
}

#add-balance-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#balance-input {
    padding: 0.8rem;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-balance-form button {
    padding: 0.8rem 1.5rem;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-balance-form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #003366;
    color:white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    font-size: 0.9rem;
}